{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Recipe Site</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href="/">Easy Recipes</a></h1>
        <nav id="nav">
            <a href="/">Home</a>
            {% if user.is_authenticated %}
                <a href="/add/">Add Recipe</a>
                <a href="/logout/">Logout</a>
            {% else %}
                <a href="/login/">Login</a>
                <a href="/register/">Register</a>
            {% endif %}
        </nav>
    </header>
    
  
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
